<div class="flex items-center justify-center min-h-screen bg-gray-900 text-white">
  <div class="px-8 py-6 w-full max-w-md text-left bg-gray-800 shadow-xl rounded-lg border border-cyan-500/20">
    <div class="flex justify-center mb-4">
      <h3 class="text-3xl font-bold text-center text-cyan-400">SafeBank</h3>
    </div>
    <h3 class="mt-4 text-2xl font-bold text-center">Crie sua Conta</h3>
    <form [formGroup]="registerForm">
      <div class="mt-4 space-y-4">
        <div>
          <label class="block" for="nome">Nome Completo</label>
          <input type="text" placeholder="Seu nome" id="nome" formControlName="nome"
                 class="w-full px-4 py-2 mt-2 bg-gray-700 border border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-cyan-500">
          </div>
        </div>

        <div>
          <label class="block" for="cpf">CPF (apenas números)</label>
          <input type="text" placeholder="12345678900" id="cpf" formControlName="cpf"
                 class="w-full px-4 py-2 mt-2 bg-gray-700 border border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-cyan-500">
        </div>

        <div>
          <label class="block" for="senha">Senha</label>
          <input type="password" placeholder="******" id="senha" formControlName="senha"
                 class="w-full px-4 py-2 mt-2 bg-gray-700 border border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-cyan-500">
          
        </div>

        <div class="flex items-baseline justify-between">
          <button  (click)="onSubmit()" [disabled]="registerForm.invalid"
                  class="w-full px-6 py-3 mt-4 text-white bg-cyan-600 rounded-lg hover:bg-cyan-700 disabled:bg-gray-500 disabled:cursor-not-allowed" >
            Registrar
          </button>
        </div>
        
        <div class="mt-6 text-center text-gray-400">
          Já tem uma conta?
          <a class="text-cyan-400 hover:underline" [routerLink]="['/logar']">
            Faça Login
          </a>
        </div>
    </form>
  </div>
</div>